week_7/venv
week_1/__pycache__
week_2/work_with_api/__pycache__
week_4/coursera_assignment_tmp/venv
week_5/authentification/venv
week_5/authentification/somemart/__pycache__
week_7/.idea
__pycache__
week_5/validation/venv
week_5/validation/somemart/__pycache__
week_5/validation/somemart/migrations/__pycache__
week_5/validation/.idea
week_6/git-test/__pycache__
week_7/venv


